body{
}
.pictureWrapper{
  display: inline-flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap:10px;
  background-color: white;
}

.photo-1{
  height: 300px;
  width: 300px;
  margin: auto;
  background: red;
}
.photo-2{
  width: 200px;
  height:150px;
  background: yellow;

}
.photo-3{
  width: 200px;
  height:150px;
  background: green;
}
.photo-4{
  width: 400px;
  height:150px;
  background: blue;
}
.ongletWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  background:#152570;
}
.ongletWrapper a {
  display: block;
  padding: 1em;
  color: white;
}

.ongletWrapper a:hover {
  background: #1565C0;
}

.photo-1{ order: 1;}
.photo-2{ order: 2;}
.photo-3{ order: 3;}
.photo-4{ order: 4;}
